


@font-face {
    font-family: 'Special Elite';
    src: url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap")
}


  
  h1 {
  font-family: 'Special Elite', system-ui;
    font-weight: 400;
    font-style: normal;
   
}

h2 {
    font-family: 'Special Elite', system-ui;
      font-weight: 400;
      font-style: normal;
     
  }

  h3 {
    font-family: 'Special Elite', system-ui;
      font-weight: 400;
      font-style: normal;
     
  }

  .btn {
    font-family: 'Special Elite', system-ui;
    font-weight: 400;
    font-style: normal;
  }

.navbar-brand {
    font-family: 'Special Elite', system-ui;
    font-weight: 400;
    font-style: normal;
}


